/* Buttons */
.btn{
    background-color: var(--color-acento);
    border-color: var(--color-acento);
    padding: 10px 30px;
    font-weight: 600;
    font-size: var(--small);
    color: #fff;
    transition: all 0.4s ease-in-out;
    margin: 30px;

}

.btn:hover{
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    padding: 10px 30px;
    font-weight: 600;
    color: var(--color-blanco);
}

/* Whatsapp button */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
