
/* ---- GLOBAL ---- */

body {
font-family: var(--fuente-primaria);
font-size: var(--tamano-texto-normal);
background-color: var(--color-primario);
}

/* SECTIONS */
section{
    padding: 0px 20px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}


/* Tipografias */
h1, h2, h3 {
font-family: var(--fuente-primaria);
}

p{
font-size: var(--normal);
line-height: 1.6;
}

/* titles */
.title{
    font-family: var(--fuente-primaria);
    font-size: var(--extra-large-4);
    padding-bottom: 0px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 100px;
}

.title-small{
    font-family: var(--fuente-primaria);
    font-size: var(--small);
    padding-bottom: 0px;
    font-weight: 800;
}

.title-medium{
    font-family: var(--fuente-primaria);
    font-size: var(--medium);
    padding-bottom: 0px;
    font-weight: 800;
}

.dot {
    color: var(--color-acento); 
  }

/* Subtitles */
.subtitle-extra-small{
    font-size: var(--extra-small);
}

.subtitle-small{
    font-family: var(--fuente-primaria);
    font-size: var(--small);
    padding-bottom: 50px;
}

.subtitle-medium{
    font-family: var(--fuente-primaria);
    font-size: var(--medium);
}

.subtitle{
    font-family: var(--fuente-primaria);
    font-size: var(--normal);
}

/* Descriptions */
.description-small{
    font-family: var(--fuente-primaria);
    font-size: var(--small);
    padding-bottom: 30px;
}

.description-medium{
    font-family: var(--fuente-primaria);
    font-size: var(--medium);
    padding-bottom: 30px;
}



